### Imports

In [1]:
import pandas as pd
import numpy as np
from bond_pricing import bond_coupon_periods

### Test Code

In [2]:
data = pd.read_csv("accrual_fraction_test.csv")
cols = data.columns[0:4]
data[cols] = data[cols].apply(pd.to_datetime, errors='coerce') 
data.head()

,Issuance,Settlement,First,Maturity,Freq,Thirty/360,Actual/Actual,Actual/360,Actual/365,E30/360
0,2037-03-12,2037-08-24,2037-09-12,2053-03-12,2,0.900000,0.896739,0.916667,0.904110,0.900000
1,2040-03-09,2040-03-23,2040-09-09,2041-03-09,2,0.077778,0.076087,0.077778,0.076712,0.077778
2,2017-04-07,2017-09-27,2017-10-07,2026-04-07,2,0.944444,0.945355,0.961111,0.947945,0.944444
3,2027-07-07,2027-09-04,2028-01-07,2039-07-07,2,0.316667,0.320652,0.327778,0.323288,0.316667
4,2021-06-26,2021-06-29,2022-06-26,2025-06-26,1,0.008333,0.008219,0.008333,0.008219,0.008333

In [3]:
data['Test: 30/360'] = bond_coupon_periods(settle=data['Settlement'], mat=data['Maturity'], freq=data['Freq'], daycount='thirty/360')['accrual_fraction']
data['Test: Actual/Actual'] = bond_coupon_periods(settle=data['Settlement'], mat=data['Maturity'], freq=data['Freq'], daycount='actual/actual')['accrual_fraction']
data['Test: Actual/360'] = bond_coupon_periods(settle=data['Settlement'], mat=data['Maturity'], freq=data['Freq'], daycount='actual/360')['accrual_fraction']
data['Test: Actual/365'] = bond_coupon_periods(settle=data['Settlement'], mat=data['Maturity'], freq=data['Freq'], daycount='actual/365')['accrual_fraction']
data['Test: E30/360'] = bond_coupon_periods(settle=data['Settlement'], mat=data['Maturity'], freq=data['Freq'], daycount='thirtyE/360 ISDA')['accrual_fraction']

cols = data.columns[9:]
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce')

cols = data.columns[4:]
data[cols] = data[cols].round(6)

data['Result: 30/360'] = data['Thirty/360'] == data['Test: 30/360']
data['Result: Actual/Actual'] = data['Actual/Actual'] == data['Test: Actual/Actual']
data['Result: Actual/360'] = data['Actual/360'] == data['Test: Actual/360']
data['Result: Actual/365'] = data['Actual/365'] == data['Test: Actual/365']
data['Result: E30/360'] = data['E30/360'] == data['Test: E30/360']

In [4]:
cols = data.columns[15:]
data[cols].value_counts()

Result: 30/360  Result: Actual/Actual  Result: Actual/360  Result: Actual/365  Result: E30/360
True            True                   True                True                True               57
False           False                  False               False               False               1
True            True                   False               True                True                1
Name: count, dtype: int64